node_modules/
__pycache__/
*.pyc
.env
.env.*
*.env
.DS_Store
Thumbs.db
.git/
.gitignore
.vscode/
.idea/
*.log
data/
data/*

baja_calidad/
baja_calidad/*

originales/
originales/*

procesadas/
procesadas/*

uploads/
uploads/*